node_modules

.env*

dist
 
.quasar

*.log

*.tsbuildinfo

*.keystore

.DS_Store

deploy-*.sh

postgres_data
keydb_data
keydb.conf
backups/
coverage/

/.turbo

.scannerwork
.sonarlint

.cursor/
test-superjson.js